.signUp {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB1lN1hGZAj0MpZ1ZoN7tt7q38JyzTvjmSMQ&usqp=CAU");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form {
    background-color: #ffffff4d;
    padding: 30px;
    border: 1px solid rgb(129, 121, 121);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.207);
    border-radius: 20px;
}

h2 {
    color: rgba(0, 0, 0, 0.718);
}

.loginPara {
    color: rgba(var(--f52, 142, 142, 142), 1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0px 40px 20px 40px;
}

.form input {
    padding: 5px;
    margin: 3px 0px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#submit-btn {
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    width: 93%;
    cursor: pointer;
    margin: 8px;
}

.formLink a{
    text-decoration: none;
    color: #0a70f5;
    padding-left: 5px;
}

.formLink a:hover{
    color: aqua;
}

@media (max-width: 768px) {
    .signUp{
        height: 80vh;
    }
}

